.mbr-form .input-group-btn button[type="submit"]{
    border-radius: 2px !important;
    padding: 0.5rem 2rem; /*1rem 3rem*/
}
.mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
